<footer>
  <nav class="footer navbar navbar-expand-lg navbar-light ">
    <img class="navbar-brand" src="/assets/maveric-logo-white.png" />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  <div style=" margin-left: 20%;">
    <p>@Copyright, Maveric Systems Ltd 2002</p>

  </div>
  </nav>
</footer>
