<div style="height: 60%; width: 60%; margin-left: 10%;">
  <form (submit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input name="name" type="email" class="form-control"  [(ngModel)]="user.email" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input name="passsword" type="password" [(ngModel)]="user.password" class="form-control" id="exampleInputPassword1">
    </div>

    <button button type="submit"  class="btn btn-primary" style="background-color: #214e8f;" (click)="login()">Login</button>
    <p>New to Maveric Book? <a href="#" routerLink="/">Signup</a></p>
    <p><a href="#">Forgot Password</a></p>
  </form>
</div>
