<!-- <div style="height: 60%; width: 60%; margin-left: 10%;">
  <form (submit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input name="name" type="email" class="form-control"  [(ngModel)]="user.email" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input name="passsword" type="password" [(ngModel)]="user.password" class="form-control" id="exampleInputPassword1">
    </div>

    <button button type="submit"  class="btn btn-primary" style="background-color: #214e8f;" (click)="login()">Login</button>
    <p>New to Maveric Book? <a href="#" routerLink="/">Signup</a></p>
    <p><a href="#">Forgot Password</a></p>
  </form>
</div> -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <div>
            <h1>User Login</h1>
        </div>
        <form th:action="@{/process_register}" th:object="${user}"
            method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                            required minlength="6" maxlength="10"/>
                </div>
            </div>
            <div>
              <button button type="submit"  class="btn btn-primary" style="background-color: #214e8f;" (click)="login()">Login</button>
              <p>New to Maveric Book? <a href="#" routerLink="/">Signup</a></p>
              <p><a href="#">Forgot Password</a></p>
            </div>

        </div>
        </form>
    </div>
</body>
</html>
